<app-navbar></app-navbar>

<div class="container my-4">
  <div class="d-flex justify-content-center mb-4">
    <input
      type="text"
      class="form-control w-50"
      placeholder="Search..."
    />
  </div>

  <div class="row row-cols-2 row-cols-md-4 g-4">
    <div class="col" *ngFor="let p of pokemonList">
      <div class="card h-100 text-center bg-secondary" style="max-width: 200px; margin: 0 auto;">
        <div class="card-body">
          <img [src]="p.imageUrl" alt="{{ p.name }}" class="card-img-top mb-3" style="width: 100px; height: 100px; object-fit: contain;" />
          <h5 class="card-title text-capitalize">{{ p.name }}</h5>
          <p class="card-text text-capitalize">{{ p.moveName }} ({{ p.movePP }})</p>
          <p class="card-text">Level {{ p.level }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
